[user]
	name = Thomas McNiven
	email = hello@vevix.net
	signingkey = D8087F83
[github]
  user = vevix
[color]
	ui = auto
[merge]
  ff = false
[pull]
  rebase = true
[push]
  default = current
[core]
  autocrlf = input
  quotepath = false
  excludesfile = ~/.gitexcludes
  editor = atom --wait
[branch]
  quotepath       = true
  autosetuprebase = always
[alias]
	co = checkout
	cm = commit
	br = branch
	pr = "!f() { git fetch ${1-master} pull/${2}/head:pr-${2}; }; f"
	wip = !git add -A && git commit -m 'wip'
	undo = reset HEAD~1 --mixed
	dbr = !git branch --merged | grep -v \"\\* \" | xargs git branch --delete
[remote "origin"]
  fetch = +refs/pull/*/head:refs/remotes/origin/pull/*
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = true
