copy_on_select false
default_layout "compact"
on_force_close "quit"
mouse_mode true
simplified_ui true
pane_frames false
theme "rose_pine"
themes {
  rose_pine {
    fg "#e0def4"
    bg "#191724"
    black "#26233a"
    red "#eb6f92"
    green "#31748f"
    yellow "#f6c177"
    blue "#9ccfd8"
    magenta "#c4a7e7"
    cyan "#ebbcba"
    white "#e0def4"
    orange "#fe640b"
  }
}
keybinds {
  normal {
    unbind "Ctrl q"
    bind "Alt q" { Quit; }
    bind "Alt 1" { GoToTab 1; SwitchToMode "Normal"; }
    bind "Alt 2" { GoToTab 2; SwitchToMode "Normal"; }
    bind "Alt 3" { GoToTab 3; SwitchToMode "Normal"; }
    bind "Alt 4" { GoToTab 4; SwitchToMode "Normal"; }
    bind "Alt 5" { GoToTab 4; SwitchToMode "Normal"; }
    bind "Alt 6" { GoToTab 4; SwitchToMode "Normal"; }
    bind "Alt 7" { GoToTab 4; SwitchToMode "Normal"; }
    bind "Alt 8" { GoToTab 4; SwitchToMode "Normal"; }
    bind "Alt 9" { GoToTab 4; SwitchToMode "Normal"; }
  }
}
