@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: TX-02;
  font-weight: 400;
  font-size: 14px;
}

.modules-left, .modules-center, .modules-right {
  margin: 0px;
  padding: 0px 5px;
  background-color: transparent;
  border-radius: 8px;
}

.modules-right {
  margin-right: 0px;
}

#workspaces button {
  all: initial;
  padding: 0px 6px;
    margin: 0 1.5px;
    min-width: 9px;
  color: @border;
}

#workspaces button:hover {
  color: @hover;
}

#workspaces button.active {
  color: @foreground;
}

#custom-expand-icon,
#tray,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#clock {
  color: @foreground;
    margin: 0 7.5px;
}

#tray {
  margin: 0;
  padding: 0 8px 0 0;
}

window {
  background-color: @background;
}

menu, tooltip {
  color: @foreground;
  background-color: @background;
  border: 1px solid @border;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}
